@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --darkBlue: hsl(209, 23%, 22%); /* Dark Mode Elements */
  --veryDarkBlue: hsl(207, 26%, 17%); /* Dark Mode Background */
  --veryDarkBlue: hsl(200, 15%, 8%); /* Light Mode Text */
  --darkGray: hsl(0, 0%, 52%); /* Light Mode Input */
  --veryLightGray: hsl(0, 0%, 98%); /* Light Mode Background */
  --white: hsl(0, 0%, 100%); /* Dark Mode Text & Light Mode Elements */
}

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}
